.app-header {
    background-color: var(--clr1);
    color: var(--clr1bg);
    padding-block: 1em;
}

.app-header .logo {
    font-family: libre, sans-serif;
    font-size: 6rem;
}


.app-header nav {
    margin-block-end: 1em;
}


.app-header nav a:not(:first-of-type) {
    margin-inline-start: 0.5em;
}