:root {
    --clr1: #e97407;
    --clr2: #1395e0;


    --clr1bg: #f2f3f7;
    --clr1bg-light: #ffffff;
    --clr2bg: #eb9c09;
    --clr2bg-light: #f9f3e3;


    --gray1: rgb(240, 240, 240);
    --gray2: rgb(155, 155, 155);
    --gray3: rgb(44, 44, 44);
}